.tiptap p {
  line-height: 1.75rem;
}

.tiptap p:not(:first-child) {
  margin-top: 0.5rem;
}

.tiptap a {
  color: var(--primary);
  text-decoration: underline;
  text-underline-offset: 4px;
  line-break: anywhere;
}